---
layout: default
---

{% comment %}
* Sorting tags by the amount of post in each of them
{% endcomment %}

{% assign tags_list = '' %}
{% for tag in site.tags %}
    {% assign tags_list = tags_list | append: tag[1].size | append: ',' | append: tag[0] | append: ';' %}
{% endfor %}
{% assign tags_list = tags_list | split: ';' %}
{% assign tags_list = tags_list | sort %}
{% assign sorted_tags = '' %}
{% for tag in tags_list reversed %}
    {% assign name = tag | split: ',' %}
    {% assign sorted_tags = sorted_tags | append: name[1] | append: ';' %}
{% endfor %}
{% assign sorted_tags = sorted_tags | split: ';' %}
{% if page.locale == 'en_US' %}
  {% assign root_path = '/' %}
{% else %}
  {% assign root_path = '/pt-br/' %}
{% endif %}

<div class="flex flex-col pt-6 md:pt-12 lg:w-11/12 mx-auto">
  <turbo-frame id="listing-tags">
    <div class="flex flex-col mb-8">
      <h1 class="font-mono text-base md:text-lg text-stone-700 dark:text-tokyo-fg-dim mb-6">
        <span class="text-tokyo-pink"># </span>{{ page.title }}
        {% if page.selected_tag != 'index' %}
          <a href="{{ root_path }}tags/" data-turbo-frame="listing-tags" data-turbo-action="advance"
             class="ml-2 text-xs text-tokyo-fg-dim hover:text-tokyo-pink transition duration-200">[ clear filter ]</a>
        {% endif %}
      </h1>
      <div class="flex flex-wrap gap-2 md:gap-3 lg:w-11/12 lg:mx-auto">
        {% for tag in sorted_tags %}
          {% assign tag_slugify = tag | slugify %}
          {% if page.selected_tag == tag_slugify %}
            <a href="{{ root_path }}tags/" data-turbo-frame="listing-tags" data-turbo-action="advance"
               class="font-mono text-sm md:text-base px-3 py-1 border border-tokyo-pink rounded-sm text-tokyo-pink hover:border-tokyo-fg-dim hover:text-tokyo-fg-dim transition duration-200">
              --{{ tag | downcase | replace: ' ', '-' }}
            </a>
          {% else %}
            <a href="{{ root_path }}tags/{{ tag_slugify }}" data-turbo-frame="listing-tags" data-turbo-action="advance"
               class="font-mono text-sm md:text-base px-3 py-1 border border-stone-400 dark:border-tokyo-border rounded-sm text-stone-700 dark:text-tokyo-fg hover:border-tokyo-blue hover:text-tokyo-blue dark:hover:border-tokyo-blue dark:hover:text-tokyo-blue transition duration-200">
              --{{ tag | downcase | replace: ' ', '-' }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
     {% include listed-post.html posts=paginator.posts align="start" %}
  </turbo-frame>
</div>
