<!DOCTYPE html>
<html lang="{{ site.language | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/dist/main-bundle.css' }}">
    {% seo %}
    {% include analytics.html %}
    {% include head-darkmode-check.html %}
    <script type="text/javascript" src="{{ '/dist/main-bundle.js' }}"></script>
  </head>
  <body class="bg-beige-100 dark:bg-slate-800">
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
  </body>
</html>
