---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "src/assets/css/syntax-highlight/highcontrast-monokai";

/* image align left */
.align-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-right: 1em;
}

/* image align right */
.align-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin-left: 1em;
}

/* image align center */
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-increase {
  width: 50%;
  height: auto;
}

.language-plaintext {
  @apply bg-stone-200 rounded-md
}

.note-info {
  @apply py-4 px-6 text-sm sm:text-base lg:text-xl bg-sky-100/70 rounded-md
}

.note-warning {
  @apply py-4 px-6 text-sm sm:text-base lg:text-xl bg-orange-100/70 rounded-md
}
